@model OnlineSinavSistemi.Models.Exam
@using OnlineSinavSistemi.Models

<h2>Yeni Sýnav Oluþtur</h2>

<form asp-action="Create" method="post">
    <div>
        <label>Baþlýk</label>
        <input asp-for="Baslik" />
    </div>
    <div>
        <label>Süre (dakika)</label>
        <input asp-for="SureDakika" type="number" />
    </div>
    <div>
        <label>Ders</label>
        <select asp-for="CourseId" asp-items="@(ViewBag.Dersler)">
            <option value="">-- Ders Seçin --</option>
        </select>
    </div>


    <h3>Sorular</h3>
    <div id="sorularContainer">
        <div class="soru-item">
            <label>Soru Metni</label>
            <input name="Sorular[0].SoruMetni" />
            <label>Tip</label>
            <select name="Sorular[0].Tip">
                <option value="0">Çoktan Seçmeli</option>
                <option value="1">Klasik</option>
            </select>
            <div class="seceneklerContainer">
                <label>Þýklar (çoktan seçmeli için)</label>
                <input name="Sorular[0].Secenekler[0]" placeholder="Þýk 1" />
                <input name="Sorular[0].Secenekler[1]" placeholder="Þýk 2" />
                <input name="Sorular[0].Secenekler[2]" placeholder="Þýk 3" />
                <input name="Sorular[0].Secenekler[3]" placeholder="Þýk 4" />
            </div>
        </div>
    </div>

    <button type="button" id="addSoruBtn">Yeni Soru Ekle</button>
    <button type="submit">Sýnavý Kaydet</button>
</form>

@section Scripts {
    <script>
        var soruIndex = 1;
        document.getElementById("addSoruBtn").addEventListener("click", function () {
            var container = document.getElementById("sorularContainer");
            var html = `
            <div class="soru-item">
                <label>Soru Metni</label>
                <input name="Sorular[${soruIndex}].SoruMetni" />
                <label>Tip</label>
                <select name="Sorular[${soruIndex}].Tip">
                    <option value="0">Çoktan Seçmeli</option>
                    <option value="1">Klasik</option>
                </select>
                <div class="seceneklerContainer">
                    <label>Þýklar (çoktan seçmeli için)</label>
                    <input name="Sorular[${soruIndex}].Secenekler[0]" placeholder="Þýk 1" />
                    <input name="Sorular[${soruIndex}].Secenekler[1]" placeholder="Þýk 2" />
                    <input name="Sorular[${soruIndex}].Secenekler[2]" placeholder="Þýk 3" />
                    <input name="Sorular[${soruIndex}].Secenekler[3]" placeholder="Þýk 4" />
                </div>
            </div>
            `;
            container.insertAdjacentHTML('beforeend', html);
            soruIndex++;
        });
    </script>
}
